@font-face {
    font-family: 'main_font';
    src: url('fonts/OpenSans-Medium.ttf');
}

*{
    font-family: 'main_font';
}

button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 15pt;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb-item.active a {
    pointer-events: none; /* Сделать активную хлебную крошку некликабельной */
    color: inherit; /* Наследовать цвет текста от родительского элемента */
    text-decoration: none; /* Убрать подчеркивание */
}



.content{
    display: grid;
    grid-template-columns: 25% 75%;
}

.filter_panel{
    display: flex;
    border: 1px solid;
    justify-content:start;
    flex-direction: column;
    align-items: left;
    font-size: 15pt;
    max-width: 100%;
}


.filter_inputs_price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter_inputs_price input{
    width: 40%;
}


.name_checkboxs{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxs {
    display: none;
    transition: all 0.5s;
}

.checkboxs.show{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.checkbox{
    display: flex;
    flex-direction: row;
    margin: 4px;
}

.products{
    display: grid;
    grid-template-columns: 50% 50%;
    background: gray;
}

.product_card{
    display: flex;
    background:goldenrod;
    align-items: center;
    text-align: center;
    font-size: 12pt;
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    overflow: hidden; /* Скрываем текст, который не помещается в контейнер */
    text-overflow: ellipsis; /* Добавляем многоточие для обрезанного текста */
    flex-direction: column;
}

.product_card:hover{
    border: 2px solid #333; /* Граница */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Тень */
    cursor: pointer;
}

.images img{
    height:250px;
    width:350px;
    max-width: 100%;
    height: auto;  
}

.pagination {
    display: flex;
    border: 1px solid;
    list-style: none;
    justify-content: center;
    padding: 0;
}
  
.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li:hover{
    background-color: burlywood;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Тень */
}
  
.pagination .ellipsis {
    user-select: none;
    font-weight: bold;
    padding: 0 5px;
}

.pagination .current-page {
    font-size: 18px; /* Увеличенный размер */
    font-weight: bold;
    color: red; /* Цвет по вашему выбору */
}

footer{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .content{
        display: block;
    }

    .filter_panel {
      display: none;
    }

}

