.main_info {
    
}

.content{
    display: flex;
    flex-direction: column;
}

.main_info{
    display: grid;
    grid-template-columns: 50% 50%;
}

.flexslider .slides img {
    max-width: 100%;
    height: auto;  
}

.info {
    font-size: 30px;
}

.info b{
    color: red;
}

.info button{
    background-color: red;
    color: white;
    width: 180px;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
}

.select_size {
    margin-top: 10px;
}
.select_size p{
    margin-bottom: -5px;
    font-size: 20px;
}

.bcart.active {
    background-color: darkcyan;
}

.description{
    border: 2px solid;
}


.description b{
    font-size: 30px;
}

.table_description {
    font-size: 20px;
}

.table_description th{
    padding-right: 30px;
}


@media (max-width: 768px) {
    .main_info{
        display: block;
           
    }

    .images {
        display: block;

    }

    .info{
        text-align: center;
    }

    .description b{
        font-size: 18px;
    }

    .breadcrumb {
        font-size: 14px;
    }

}

